#include <winver.h>

1 VERSIONINFO
FILEVERSION 2021,03,12,181
PRODUCTVERSION 5,2,0,0
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
{
    BLOCK "StringFileInfo" 
    {  
        BLOCK "000004b0" // LANG_NEUTRAL,UNICODE_CP
        {
            VALUE "FileDescription", "ShanaEncoder"
            VALUE "FileVersion", "2021.03.12.181"
            VALUE "ProductName", "FFmpeg for ShanaEncoder"
            VALUE "ProductVersion", "5.2.0.0"
            VALUE "LegalCopyright", "Copyright (c) 2000-2021 the FFmpeg developers"
            VALUE "OriginalFilename", "ShanaEncoder.sha"
        }
    }
    BLOCK "VarFileInfo"  
    {
        VALUE "Translation",0,0x04b0
    }
}

MAIN    ICON DISCARDABLE  "./appicon.ico"
